@* @inherits LayoutComponentBase

<div class="content">
    @Body
</div> *@

@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using Microsoft.JSInterop

<div id="app">

    <header class="top-bar">
        <a class="logo" href="">
            <img src="img/pollolandia-logo.jpg" />
        </a>

        <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
            <img src="img/pollo-slice.png" />
            <div>Pedir Pollo</div>
        </NavLink>

        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>Mis Pedidos</div>
        </NavLink>
    </header>

    <div class="content">
        @Body
    </div>

    <footer>
        &copy; Pollolandia @DateTime.UtcNow.Year
    </footer>

</div>



@code {

}
