@foreach (var pollo in Order.Pollos)
{
    <p>
        <strong>
            @pollo.Special.Name
            (S/.@pollo.GetBasePrice())
        </strong>
    </p>
    @if (pollo.Toppings is not null && pollo.Toppings.Any())
    {
        <ul>
            @foreach (var topping in pollo.Toppings)
            {
                <li>
                    + @topping.Topping.Name por S/.@topping.Topping.GetFormattedPrice()
                </li>
            }
        </ul>
    }
    <p>
        Total pollo <span class="price">@pollo.GetFormattedTotalPrice()</span>
    </p>
}

<p>
    <strong>
        Precio total:
        S/.@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter] public Order Order { get; set; }
}
